.auth-bg {
  background-image: url(./assets/images/auth-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(
    51.22deg,
    rgba(47, 140, 96, 0.63) -22.39%,
    rgba(0, 0, 0, 0.6237) 61.76%
  );
}
.form-control {
  border: none !important;
  background: rgba(247, 247, 247, 1) !important;
}
.input-group-text {
border: none !important;
}
.form-body {
  width: 764px !important;
}

