.auth-bg {
  background-image: url(./assets/images/auth-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(
    51.22deg,
    rgba(47, 140, 96, 0.63) -22.39%,
    rgba(0, 0, 0, 0.6237) 61.76%
  );
}
.form-control {
  border: none !important;
  background: rgba(247, 247, 247, 1) !important;
}
.input-group-text {
  border: none !important;
}
.form-body {
  width: 764px !important;
}

.notfound-bg {
  background-image: url(./assets/images/not-found-bg.png);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.sidebar-container .ps-sidebar-container {
  background: rgba(31, 38, 62, 1);
  color: white;
  border-radius: 0px 58px 0px 0px;
  border: none;
}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background: rgba(0, 146, 77, 0.1);
}
.sidebar-container .ps-sidebar-container .toggle-img .ps-menu-button:hover {
  background: transparent;
}
.toggle-img {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bg {
  background-image: url(./assets/images/header-bg-svg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.fa-solid.fa-bars {
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  display: none;
}
@media (max-width: 991px) {
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0 !important;
  }
  .left-side-not-collapsed {
    padding-left: 0 !important;
  }
  .left-side-collapsed {
    padding: 0 !important;
  }
  .navbar {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0 !important;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
  }

  .fa-solid.fa-bars {
    display: block;
    margin-bottom: 0.8em;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  .icon-toogle {
    margin-top: 5px !important;
  }
  .sidebar-container{
    z-index: 5;
  }

}
.btn-close {
  background-image: url(./assets/images/closebtn.png) !important;
}
.modal-header {
  border: none !important;
}
/* input[type="file"] { */
/*  */
/* background-color: initial; */
/* cursor: default; */
/* align-items: baseline; */
/* color: inherit; */
/* text-overflow: ellipsis; */
/* text-align: start !important; */
/* padding: initial; */
/* border: initial; */
/* white-space: pre; */
/*  */
/* } */

.file-lable {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 322px;
  max-width: 1300px;
  height: 90px;
  border: 2px dashed rgba(0, 146, 71, 1);
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-flex: 0;
  flex-grow: 0;
}
.file-lable > input {
  display: block;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 4em;
}
.left-side-not-collapsed {
  padding-left: 13.5em;
  margin-top: 5em;
}
.left-side-collapsed {
  margin-top: 5em;
}
