.auth-bg {
  background-image: url(./assets/images/auth-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(
    51.22deg,
    rgba(47, 140, 96, 0.63) -22.39%,
    rgba(0, 0, 0, 0.6237) 61.76%
  );
}
.form-control {
  border: none !important;
  background: rgba(247, 247, 247, 1) !important;
}
.input-group-text {
  border: none !important;
}
.form-body {
  width: 764px !important;
}

.notfound-bg {
  background-image: url(./assets/images/not-found-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sidebar-container{
  height: "100%";
  max-height: "1024px"
}
.sidebar-container .ps-sidebar-container {
  background: rgba(31, 38, 62, 1);
  color: white;
  border-radius: 0px 58px 0px 0px;
  border: none;
  min-height: 100vh;
}
.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background: rgba(0, 146, 77, 0.1);
}
.sidebar-container .ps-sidebar-container .toggle-img .ps-menu-button:hover {
  background: transparent;
}
.toggle-img{
  margin-bottom: 60px;
}
.header-bg {
  background-image: url(./assets/images/header-bg-svg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.fa-solid.fa-bars {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  display: none;
}
@media (max-width: 768px) {
  .fa-solid.fa-bars {
    display: block;
  }
}
